In [9]:
import pandas as pd
d={'Mouse':[150,200,300,400],
    'Keyboard':[180,200,190,300],
    'Scanner':[200,280,330,450]
  }
df=pd.DataFrame(d,index=['Jan','Feb','March','April'])
df

       Mouse  Keyboard  Scanner
Jan      150       180      200
Feb      200       200      280
March    300       190      330
April    400       300      450

A. Write code to access data of Mouse and Scanner columns.

In [12]:
df[['Mouse','Scanner']]

       Mouse  Scanner
Jan      150      200
Feb      200      280
March    300      330
April    400      450

B. Write code to access data of the Keyboard column using dot notation and column name.

In [17]:
df.Keyboard

Jan      180
Feb      200
March    190
April    300
Name: Keyboard, dtype: int64

C. Write code to access data of scanners using loc[].

In [15]:
df.loc[:,'Scanner']

Jan      200
Feb      280
March    330
April    450
Name: Scanner, dtype: int64

 D. Write code to access data of all columns where mouse data is more than 200.

In [19]:
df[df['Mouse']>200]

       Mouse  Keyboard  Scanner
March    300       190      330
April    400       300      450

E. Write code to access columns using 0 and 2.

In [21]:
df.iloc[:,[0,2]]

       Mouse  Scanner
Jan      150      200
Feb      200      280
March    300      330
April    400      450

F. Write code to access data of rows of jan and march for scanner and keyboard

In [23]:
df.loc[['Jan','March'],['Scanner','Keyboard']]

       Scanner  Keyboard
Jan        200       180
March      330       190