1.     Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [1]:
import pandas as pd
import numpy as np
ps1=pd.Series([2,4,6,8,10])
ps2=pd.Series([1,3,5,7,9])
addition=ps1+ps2
print("Addition of two series is: \n",addition)
multiplication=ps1*ps2
print("Multiplication of two series is: \n",multiplication)
subtraction=ps1-ps2
print("Subtraction of two series is: \n",subtraction)
division=ps1/ps2
print("Division of two series is: \n",division)

Addition of two series is:
 0     3
1     7
2    11
3    15
4    19
dtype: int64
Multiplication of two series is:
 0     2
1    12
2    30
3    56
4    90
dtype: int64
Subtraction of two series is:
 0    1
1    1
2    1
3    1
4    1
dtype: int64
Division of two series is:
 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

2.     Write a Pandas program to convert a Panda module Series to Python list and its type.

In [7]:
ps1=pd.Series([3,5,7,2,9,7])
print("Panda Series is: \n",ps1)
print("Type of Panda Series is: \n",type(ps1))
list1=ps1.tolist()
print("List is: \n",list1)
print("Type of List is: \n",type(list1))

Panda Series is:
 0    3
1    5
2    7
3    2
4    9
5    7
dtype: int64
Type of Panda Series is:
 <class 'pandas.core.series.Series'>
List is:
 [3, 5, 7, 2, 9, 7]
Type of List is:
 <class 'list'>

3. Write a Pandas program to convert a Series of lists to one Series.
Original Series of list
0 [Red, Green, White]
1 [Red, Black]
2 [Yellow]

In [2]:
ps=pd.Series([['Red','Green','White'],['Red','Black'],['Yellow']])
print("Panda Series is: \n",ps)
oneSeries = ps.apply(pd.Series).stack().reset_index(drop=True)
print("Combined Series is: \n",oneSeries)

Panda Series is:
 0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
Combined Series is:
 0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

4.     Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [16]:
ps=pd.Series([3,0,5,8,1,9,3,7,2,6])
print("Panda Series is: \n",ps)
print(f"Mean of the data series is {ps.mean()}")
print(f"Standard deviation of the data series is {ps.std()}")

Panda Series is:
 0    3
1    0
2    5
3    8
4    1
5    9
6    3
7    7
8    2
9    6
dtype: int64
Mean of the data series is 4.4
Standard deviation of the data series is 3.062315754094894

5.      Write a Pandas program to get the first 3 rows of a given DataFrame.

In [3]:
student_data={'Name':['sarika','aaron','srividya','alvin','mary','nishant','chika','rocky'],
            'Email Address':['sarika@gmail.com','aaron@gmail.com','srividya@gmail.com','alvin@gmail.com',
                     'mary@gmail.com','nishant@gmail.com','chicka@gmail.com','rocky@gmail.com'],
             'Age':[29,28,27,26,30,25,27,26]}
df1=pd.DataFrame(student_data)
print("Dataframe is: \n",df1)
threeRows=df1.iloc[:3]
print("\n\nFirst three rows of a given dataframe is: \n",threeRows)

Dataframe is:
        Name       Email Address  Age
0    sarika    sarika@gmail.com   29
1     aaron     aaron@gmail.com   28
2  srividya  srividya@gmail.com   27
3     alvin     alvin@gmail.com   26
4      mary      mary@gmail.com   30
5   nishant   nishant@gmail.com   25
6     chika    chicka@gmail.com   27
7     rocky     rocky@gmail.com   26


First three rows of a given dataframe is:
        Name       Email Address  Age
0    sarika    sarika@gmail.com   29
1     aaron     aaron@gmail.com   28
2  srividya  srividya@gmail.com   27

6.     Write a Pandas program to insert a column at a specific index in a given DataFrame.

In [34]:
student_data={'Name':['sarika','aaron','srividya','alvin','mary','nishant','chika','rocky'],
            'Email Address':['sarika@gmail.com','aaron@gmail.com','srividya@gmail.com','alvin@gmail.com',
                     'mary@gmail.com','nishant@gmail.com','chicka@gmail.com','rocky@gmail.com']}
df1=pd.DataFrame(student_data)
print("Dataframe is: \n",df1)
age=[29,28,27,26,30,25,27,26]
index=1
df1.insert(loc=index,column='Age',value=age)
print("\n\nNew dataframe after inserting new column: \n",df1)

Dataframe is:
        Name       Email Address
0    sarika    sarika@gmail.com
1     aaron     aaron@gmail.com
2  srividya  srividya@gmail.com
3     alvin     alvin@gmail.com
4      mary      mary@gmail.com
5   nishant   nishant@gmail.com
6     chika    chicka@gmail.com
7     rocky     rocky@gmail.com


New dataframe after inserting new column:
        Name  Age       Email Address
0    sarika   29    sarika@gmail.com
1     aaron   28     aaron@gmail.com
2  srividya   27  srividya@gmail.com
3     alvin   26     alvin@gmail.com
4      mary   30      mary@gmail.com
5   nishant   25   nishant@gmail.com
6     chika   27    chicka@gmail.com
7     rocky   26     rocky@gmail.com

7.      Write a Pandas program to print a DataFrame without index.

In [51]:
student_data={'Name':['sarika','aaron','srividya','alvin','mary','nishant','chika','rocky'],
            'Email Address':['sarika@gmail.com','aaron@gmail.com','srividya@gmail.com','alvin@gmail.com',
                     'mary@gmail.com','nishant@gmail.com','chicka@gmail.com','rocky@gmail.com'],
             'Age':[29,28,27,26,30,25,27,26]}
df1=pd.DataFrame(student_data)
print("Dataframe with index is: \n",df1)
print("\n\nDataframe without index is: \n",df1.to_string(index=False))

Dataframe with index is:
        Name       Email Address  Age
0    sarika    sarika@gmail.com   29
1     aaron     aaron@gmail.com   28
2  srividya  srividya@gmail.com   27
3     alvin     alvin@gmail.com   26
4      mary      mary@gmail.com   30
5   nishant   nishant@gmail.com   25
6     chika    chicka@gmail.com   27
7     rocky     rocky@gmail.com   26


Dataframe without index is:
     Name      Email Address  Age
  sarika   sarika@gmail.com   29
   aaron    aaron@gmail.com   28
srividya srividya@gmail.com   27
   alvin    alvin@gmail.com   26
    mary     mary@gmail.com   30
 nishant  nishant@gmail.com   25
   chika   chicka@gmail.com   27
   rocky    rocky@gmail.com   26

8.     Write a pandas program to find the datatype of each column

In [52]:
student_data={'Name':['sarika','aaron','srividya','alvin','mary','nishant','chika','rocky'],
            'Email Address':['sarika@gmail.com','aaron@gmail.com','srividya@gmail.com','alvin@gmail.com',
                     'mary@gmail.com','nishant@gmail.com','chicka@gmail.com','rocky@gmail.com'],
             'Age':[29,28,27,26,30,25,27,26]}
df1=pd.DataFrame(student_data)
print("Dataframe is: \n",df1)
print("\n\nDatatype of each column is: \n",df1.dtypes)

Dataframe is:
        Name       Email Address  Age
0    sarika    sarika@gmail.com   29
1     aaron     aaron@gmail.com   28
2  srividya  srividya@gmail.com   27
3     alvin     alvin@gmail.com   26
4      mary      mary@gmail.com   30
5   nishant   nishant@gmail.com   25
6     chika    chicka@gmail.com   27
7     rocky     rocky@gmail.com   26


Datatype of each column is:
 Name             object
Email Address    object
Age               int64
dtype: object

9.Write a pandas program to convert the csv file to excel

In [42]:
csv1=pd.read_csv("sample1.csv")
excelfile=pd.ExcelWriter("Sample1.xlsx")
csv1.to_excel(excelfile,index=False)
excelfile.save()

10.Write a Pandas program to detect missing values of a given DataFrame. Display True or False.
Test Data:
      ord_no  purch_amt    ord_date  customer_id  salesman_id
 0   70001.0     150.50  2012-10-05         3002       5002.0
 1       NaN     270.65  2012-09-10         3001       5003.0
 2   70002.0      65.26         NaN         3001       5001.0
 3   70004.0     110.50  2012-08-17         3003          NaN
 4       NaN     948.50  2012-09-10         3002       5002.0
 5   70005.0    2400.60  2012-07-27         3001       5001.0
 6       NaN    5760.00  2012-09-10         3001       5001.0
 7   70010.0    1983.43  2012-10-10         3004          NaN
 8   70003.0    2480.40  2012-10-10         3003       5003.0
 9   70012.0     250.45  2012-06-27         3002       5002.0
 10      NaN      75.29  2012-08-17         3001       5003.0
 11  70013.0    3045.60  2012-04-25         3001          NaN

In [53]:
df1 = pd.DataFrame({
    'ord_no':[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
    'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
    'ord_date': ['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
    'customer_id':[3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
    'salesman_id':[5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]})

print("Dataframe is: \n",df1)
print("\n\nMissing value of a given Dataframe is: \n",df1.isna())

Dataframe is:
      ord_no  purch_amt    ord_date  customer_id  salesman_id
0   70001.0     150.50  2012-10-05         3002       5002.0
1       NaN     270.65  2012-09-10         3001       5003.0
2   70002.0      65.26         NaN         3001       5001.0
3   70004.0     110.50  2012-08-17         3003          NaN
4       NaN     948.50  2012-09-10         3002       5002.0
5   70005.0    2400.60  2012-07-27         3001       5001.0
6       NaN    5760.00  2012-09-10         3001       5001.0
7   70010.0    1983.43  2012-10-10         3004          NaN
8   70003.0    2480.40  2012-10-10         3003       5003.0
9   70012.0     250.45  2012-06-27         3002       5002.0
10      NaN      75.29  2012-08-17         3001       5003.0
11  70013.0    3045.60  2012-04-25         3001          NaN


Missing value of a given Dataframe is:
     ord_no  purch_amt  ord_date  customer_id  salesman_id
0    False      False     False        False        False
1     True      False     False        False        False
2    False      False      True        False        False
3    False      False     False        False         True
4     True      False     False        False        False
5    False      False     False        False        False
6     True      False     False        False        False
7    False      False     False        False         True
8    False      False     False        False        False
9    False      False     False        False        False
10    True      False     False        False        False
11   False      False     False        False         True

11. Write a Pandas program to count the number of missing values in each column of above DataFrame (Question 10).

In [56]:
df1 = pd.DataFrame({
    'ord_no':[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
    'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
    'ord_date': ['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
    'customer_id':[3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
    'salesman_id':[5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]})

print("Dataframe is: \n",df1)
print("\n\nCount of missing value of a given Dataframe is: \n",df1.isna().sum())

Dataframe is:
      ord_no  purch_amt    ord_date  customer_id  salesman_id
0   70001.0     150.50  2012-10-05         3002       5002.0
1       NaN     270.65  2012-09-10         3001       5003.0
2   70002.0      65.26         NaN         3001       5001.0
3   70004.0     110.50  2012-08-17         3003          NaN
4       NaN     948.50  2012-09-10         3002       5002.0
5   70005.0    2400.60  2012-07-27         3001       5001.0
6       NaN    5760.00  2012-09-10         3001       5001.0
7   70010.0    1983.43  2012-10-10         3004          NaN
8   70003.0    2480.40  2012-10-10         3003       5003.0
9   70012.0     250.45  2012-06-27         3002       5002.0
10      NaN      75.29  2012-08-17         3001       5003.0
11  70013.0    3045.60  2012-04-25         3001          NaN


Count of missing value of a given Dataframe is:
 ord_no         4
purch_amt      0
ord_date       1
customer_id    0
salesman_id    3
dtype: int64

12. Write a Pandas program to drop the rows where at least one element is missing in a given DataFrame.

In [57]:
df1 = pd.DataFrame({
    'ord_no':[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
    'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
    'ord_date': ['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
    'customer_id':[3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
    'salesman_id':[5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]})

print("Dataframe is: \n",df1)
print("\n\nNew dataframe after droping the rows where at least one element is missing: \n", df1.dropna())

Dataframe is:
      ord_no  purch_amt    ord_date  customer_id  salesman_id
0   70001.0     150.50  2012-10-05         3002       5002.0
1       NaN     270.65  2012-09-10         3001       5003.0
2   70002.0      65.26         NaN         3001       5001.0
3   70004.0     110.50  2012-08-17         3003          NaN
4       NaN     948.50  2012-09-10         3002       5002.0
5   70005.0    2400.60  2012-07-27         3001       5001.0
6       NaN    5760.00  2012-09-10         3001       5001.0
7   70010.0    1983.43  2012-10-10         3004          NaN
8   70003.0    2480.40  2012-10-10         3003       5003.0
9   70012.0     250.45  2012-06-27         3002       5002.0
10      NaN      75.29  2012-08-17         3001       5003.0
11  70013.0    3045.60  2012-04-25         3001          NaN


New dataframe after droping the rows where at least one element is missing:
     ord_no  purch_amt    ord_date  customer_id  salesman_id
0  70001.0     150.50  2012-10-05         3002       5002.0
5  70005.0    2400.60  2012-07-27         3001       5001.0
8  70003.0    2480.40  2012-10-10         3003       5003.0
9  70012.0     250.45  2012-06-27         3002       5002.0

13. Write a Pandas program to replace NaNs with a single constant value in specified columns in a DataFrame.

In [62]:
df1 = pd.DataFrame({
    'ord_no':[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
    'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
    'ord_date': ['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
    'customer_id':[3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
    'salesman_id':[5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]})

print("Dataframe is: \n",df1)
print("\n\nNew dataframe after replacing NaN with a single constant value in ord_no column: \n",df1['ord_no'].fillna(123, inplace=False))

Dataframe is:
      ord_no  purch_amt    ord_date  customer_id  salesman_id
0   70001.0     150.50  2012-10-05         3002       5002.0
1       NaN     270.65  2012-09-10         3001       5003.0
2   70002.0      65.26         NaN         3001       5001.0
3   70004.0     110.50  2012-08-17         3003          NaN
4       NaN     948.50  2012-09-10         3002       5002.0
5   70005.0    2400.60  2012-07-27         3001       5001.0
6       NaN    5760.00  2012-09-10         3001       5001.0
7   70010.0    1983.43  2012-10-10         3004          NaN
8   70003.0    2480.40  2012-10-10         3003       5003.0
9   70012.0     250.45  2012-06-27         3002       5002.0
10      NaN      75.29  2012-08-17         3001       5003.0
11  70013.0    3045.60  2012-04-25         3001          NaN


New dataframe after replacing NaN with a single constant value in ord_no column:
 0     70001.0
1       123.0
2     70002.0
3     70004.0
4       123.0
5     70005.0
6       123.0
7     70010.0
8     70003.0
9     70012.0
10      123.0
11    70013.0
Name: ord_no, dtype: float64

14. Write a Pandas program to add leading zeros to the integer column in a pandas series and makes the length of the field to 8 digit

In [50]:
product={'product_name':['toy car','diapers','cheese','carrot','bread','gum'],
          'price':[25,45,6,3,2,1]}
df1=pd.DataFrame(product)
print("Dataframe is: ",df1)
df1['price'] = df1['price'].map(lambda x: f'{x:0>8}')
print("\n\nNew dataframe after adding leading zero to price column\n",df1)

Dataframe is:    product_name  price
0      toy car     25
1      diapers     45
2       cheese      6
3       carrot      3
4        bread      2
5          gum      1


New dataframe after adding leading zero to price column
   product_name     price
0      toy car  00000025
1      diapers  00000045
2       cheese  00000006
3       carrot  00000003
4        bread  00000002
5          gum  00000001

15. Write a Pandas program to check whether only numeric values present in a given column of a DataFrame

In [62]:
product={'product_name':['toy car','diapers','cheese','carrot','bread','gum'],
         'serial_no':['S001','002','S003','004','005','S006'],
          'price':[25,45,6,3,2,1]}
df1=pd.DataFrame(product)
print("Dataframe is: \n",df1)
df1['Serial_Number(Digit or AlphaNumeric)'] = list(map(lambda x: x.isdigit(), df1['serial_no']))
print("\n\nNew Dataframe after checking whether only numeric values are present in serial_no column:\n",df1)

Dataframe is:
   product_name serial_no  price
0      toy car      S001     25
1      diapers       002     45
2       cheese      S003      6
3       carrot       004      3
4        bread       005      2
5          gum      S006      1


New Dataframe after checking whether only numeric values are present in serial_no column:
   product_name serial_no  price  Serial_Number(Digit or AlphaNumeric)
0      toy car      S001     25                                 False
1      diapers       002     45                                  True
2       cheese      S003      6                                 False
3       carrot       004      3                                  True
4        bread       005      2                                  True
5          gum      S006      1                                 False

16.Write a Pandas program to display the default index and set a column as an Index in a given dataframe
 Test Data:
 0 s001  V  Alberto Franco     15/05/2002      35  street1   t1
 1 s002  V    Gino Mcneill     17/05/2002      32  street2   t2
 2 s003  VI    Ryan Parkes     16/02/1999      33  street3   t3
 3 s001  VI    Eesha Hinton    25/09/1998      30  street1   t4
 4 s002  V    Gino Mcneill     11/05/2002      31  street2   t5
 5 s004  VI    David Parkes     15/09/1997     32  street4   t6

In [87]:
data = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})
print("Dtaframe with default index is: \n",data)
data1=data.set_index('school_code')
print("\n\nNew dataframe after setting school_code as a index is: \n",data1)

Dtaframe with default index is:
   school_code class            name date_Of_Birth  weight  address t_id
0        s001     V  Alberto Franco    15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5        s004    VI    David Parkes    15/09/1997      32  street4   t6


New dataframe after setting school_code as a index is:
             class            name date_Of_Birth  weight  address t_id
school_code
s001            V  Alberto Franco    15/05/2002      35  street1   t1
s002            V    Gino Mcneill    17/05/2002      32  street2   t2
s003           VI     Ryan Parkes    16/02/1999      33  street3   t3
s001           VI    Eesha Hinton    25/09/1998      30  street1   t4
s002            V    Gino Mcneill    11/05/2002      31  street2   t5
s004           VI    David Parkes    15/09/1997      32  street4   t6

17. Write a Pandas program to create a dataframe and set a title or name of the index column.

In [4]:
student_data=pd.DataFrame({'Name':['sarika','aaron','srividya','alvin','mary','nishant','chika','rocky'],
            'Email Address':['sarika@gmail.com','aaron@gmail.com','srividya@gmail.com','alvin@gmail.com',
                     'mary@gmail.com','nishant@gmail.com','chicka@gmail.com','rocky@gmail.com'],
             'Age':[29,28,27,26,30,25,27,26]},
            index = ['I','II','III','IV','V','VI','VII','VIII'])
print("Dataframe is: \n",student_data)
student_data.index.name='Index_Number'
print("\n\nNew dataframe after setting title for index column: \n",student_data)

Dataframe is:
           Name       Email Address  Age
I       sarika    sarika@gmail.com   29
II       aaron     aaron@gmail.com   28
III   srividya  srividya@gmail.com   27
IV       alvin     alvin@gmail.com   26
V         mary      mary@gmail.com   30
VI     nishant   nishant@gmail.com   25
VII      chika    chicka@gmail.com   27
VIII     rocky     rocky@gmail.com   26


New dataframe after setting title for index column:
                   Name       Email Address  Age
Index_Number
I               sarika    sarika@gmail.com   29
II               aaron     aaron@gmail.com   28
III           srividya  srividya@gmail.com   27
IV               alvin     alvin@gmail.com   26
V                 mary      mary@gmail.com   30
VI             nishant   nishant@gmail.com   25
VII              chika    chicka@gmail.com   27
VIII             rocky     rocky@gmail.com   26

18. Write a Pandas program to select a specific row of given series/dataframe by integer index.

In [9]:
student_data={'Name':['sarika','aaron','srividya','alvin','mary','nishant','chika','rocky'],
            'Email Address':['sarika@gmail.com','aaron@gmail.com','srividya@gmail.com','alvin@gmail.com',
                     'mary@gmail.com','nishant@gmail.com','chicka@gmail.com','rocky@gmail.com'],
             'Age':[29,28,27,26,30,25,27,26]}
df1=pd.DataFrame(student_data)
print("Dataframe is: \n",df1)
secondRow=df1.iloc[[2]]
print("\n\nDisplay 2nd row: \n",secondRow)

Dataframe is:
        Name       Email Address  Age
0    sarika    sarika@gmail.com   29
1     aaron     aaron@gmail.com   28
2  srividya  srividya@gmail.com   27
3     alvin     alvin@gmail.com   26
4      mary      mary@gmail.com   30
5   nishant   nishant@gmail.com   25
6     chika    chicka@gmail.com   27
7     rocky     rocky@gmail.com   26


Display 2nd row:
        Name       Email Address  Age
2  srividya  srividya@gmail.com   27

19. Write a Pandas program to find the indexes of rows of a specified value of a given column in a DataFrame.

In [14]:
student_data={'Name':['sarika','aaron','srividya','alvin','mary','nishant','chika','rocky'],
            'Email Address':['sarika@gmail.com','aaron@gmail.com','srividya@gmail.com','alvin@gmail.com',
                     'mary@gmail.com','nishant@gmail.com','chicka@gmail.com','rocky@gmail.com'],
             'Age':[29,28,27,26,30,25,27,26]}
df1=pd.DataFrame(student_data)
print("Dataframe is: \n",df1)
df2=df1.index[df1['Age']==27]
print("\n\n Display indexes of rows where specified value of a Age matches: \n",df2)

Dataframe is:
        Name       Email Address  Age
0    sarika    sarika@gmail.com   29
1     aaron     aaron@gmail.com   28
2  srividya  srividya@gmail.com   27
3     alvin     alvin@gmail.com   26
4      mary      mary@gmail.com   30
5   nishant   nishant@gmail.com   25
6     chika    chicka@gmail.com   27
7     rocky     rocky@gmail.com   26


 Display indexes of rows where specified value of a Age matches:
 Int64Index([2, 6], dtype='int64')

20. Write a Pandas program to find integer index of rows with missing data in a given dataframe.

In [30]:
df1 = pd.DataFrame({
    'ord_no':[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
    'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
    'ord_date': ['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
    'customer_id':[3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
    'salesman_id':[5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]})

print("Dataframe is: \n",df1)
index = df1['ord_no'].index[df1['ord_no'].apply(np.isnan)]
print("\n\n Display index of rows where ord_no is missing: \n",index)

Dataframe is:
      ord_no  purch_amt    ord_date  customer_id  salesman_id
0   70001.0     150.50  2012-10-05         3002       5002.0
1       NaN     270.65  2012-09-10         3001       5003.0
2   70002.0      65.26         NaN         3001       5001.0
3   70004.0     110.50  2012-08-17         3003          NaN
4       NaN     948.50  2012-09-10         3002       5002.0
5   70005.0    2400.60  2012-07-27         3001       5001.0
6       NaN    5760.00  2012-09-10         3001       5001.0
7   70010.0    1983.43  2012-10-10         3004          NaN
8   70003.0    2480.40  2012-10-10         3003       5003.0
9   70012.0     250.45  2012-06-27         3002       5002.0
10      NaN      75.29  2012-08-17         3001       5003.0
11  70013.0    3045.60  2012-04-25         3001          NaN


 Display index of rows where ord_no is missing:
 Int64Index([1, 4, 6, 10], dtype='int64')